# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env
# Virtual environment
.venv/
env/
venv/
.venv_linux
generated_pdfs/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
vision_key.json

# Scratch & Logs
*.txt
!requirements.txt
logs/
chat_uploads/
vadrida.apk

# Excel backups
*backup*.xlsm
~$*.xlsm

# Local Scripts
backup_db.py
start_vadrida.bat
run_tunnel.bat