# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env
# Virtual environment
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
vision_key.json